/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: ArgentItalic;
  src: url(../fonts/ArgentPixelCF-Italic.otf)
}

@font-face {
  font-family: NeueHaasRoman;
  src: url(../fonts/NeueHaasDisplayRoman.ttf)
}

@font-face {
  font-family: NeueHaasLight;
  src: url(../fonts/NeueHaasDisplayLight.ttf)
}

@font-face {
  font-family: NeueHaasBold;
  src: url(../fonts/NeueHaasDisplayBold.ttf)
}

@font-face {
  font-family: NeueHaasBlack;
  src: url(../fonts/NeueHaasDisplayBlack.ttf)
}

@font-face {
  font-family: NationalLight;
  src: url(../fonts/TestNational-Light.otf)
}

@font-face {
  font-family: NationalBook;
  src: url(../fonts/TestNational-Book.otf)
}

@font-face {
  font-family: NationalMedium;
  src: url(../fonts/TestNational-Medium.otf)
}

@font-face {
  font-family: NationalExtraBold;
  src: url(../fonts/TestNational-Extrabold.otf)
}

@font-face {
  font-family: PPNeueMachina;
  src: url(../fonts/PPNeueMachina-InktrapUltrabold.otf);
}

@font-face {
  font-family: Garamond;
  src: url(../fonts/AGaramondPro-Regular.otf);
}

@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir.ttc);
}

@font-face {
  font-family: AvenirMedium;
  src: url(../fonts/AvenirNext-Medium.otf);
}

@font-face {
  font-family: SFproBold;
  src: url(../fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
  font-family: SFpro;
  src: url(../fonts/SF-Pro-Text-Semibold.otf);
}

@font-face {
  font-family: AvenirHeavy;
  src: url(../fonts/Avenir-Heavy.otf);
}

@font-face {
  font-family: Rosart;
  src: url(../fonts/RosartTRIAL-Regular.otf);
}

@font-face {
  font-family: FoundersGrotesk;
  src: url(../fonts/TestFoundersGroteskMono-Light.otf);
}

@font-face {
  font-family: FoundersGrotesk;
  src: url(../fonts/TestFoundersGroteskMono-Regular.otf);
}


.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}


*,
*:before,
*:after {
  @apply cursor-default;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

.tooltip:hover:after {
  content: 'Copy';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
}